body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: mediumvioletred;
    background-color: rgb(248, 207, 231);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header{
    background-color: rgb(214, 238, 237);
    color: deeppink;
    padding: 20px;
    text-align: center;
}


header h1{
    margin: 0;
}

nav a{
    color:rgb(226, 0, 143);
    text-decoration: none;
    margin: 0 10px;
}

nav a.hover{
    text-decoration: underline;
}

main{
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

main img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
p {
    font-size: 1.1em;
}

a {
    color: #8ecc90;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: 5px solid #e671b9;
    border-radius: 10px;
}

main a[href="bolengntapu9@gmail.com"]{
    color: rgb(228, 58, 129);
    font-weight: bold;
}
